Templates(
    entities : [
        Template(
            entity_type: Item,
            name : "Healing Potion", glyph : '!', levels : [ 0, 1, 2 ],
            provides: Some([ ("Healing", 6) ]),
            frequency: 2
        ),
        Template(
            entity_type: Item,
            name : "Dungeon Map", glyph : '{', levels : [ 0, 1, 2 ],
            provides: Some([ ("MagicMap", 0) ]),
            frequency: 1
        ),
        Template(
            entity_type: Item,
            name : "Rusty Sword", glyph: 's', levels: [ 0, 1, 2 ],
            frequency: 1,
            base_damage: Some(1)
        ),
        Template(
            entity_type: Item,
            name : "Shiny Sword", glyph: 'S', levels: [ 0, 1, 2 ],
            frequency: 1,
            base_damage: Some(2)
        ),
        Template(
            entity_type: Item,
            name : "Huge Sword", glyph: '/', levels: [ 1, 2 ],
            frequency: 1,
            base_damage: Some(3)
        ),
        Template(
            entity_type: Enemy,
            name : "Goblin", glyph : 'g', levels : [ 0 ],
            hp : Some(1),
            frequency: 3,
            base_damage: Some(1)
        ),
        Template(
            entity_type: Enemy,
            name : "Orc", glyph : 'o', levels : [ 0, 1, 2 ],
            hp : Some(2),
            frequency: 2,
            base_damage: Some(1)
        ),
        Template(
            entity_type: Enemy,
            name : "Ogre", glyph : 'O', levels : [ 1, 2 ],
            hp : Some(5),
            frequency: 1,
            base_damage: Some(2)
        ),
        Template(
            entity_type: Enemy,
            name : "Ettin", glyph : 'E', levels : [ 2 ],
            hp : Some(10),
            frequency: 1,
            base_damage: Some(3)
        ),
    ],
)